@model GameShow.GameModel.ControllerPrompt
@{
    ViewBag.Title = "ControllerPrompt";
    Layout = "~/Views/Shared/_GameContent.cshtml";
}

<div class="text-center">
    <h2>@Model.Text</h2>
    @foreach (var p in Model.PromptButtons)
    {
        <div>
            <a href="javascript:promptRespond('@p.EventType', '@p.EventValue');" class="btn" style="background-color: @p.Color;">@p.Text</a>
        </div>
    }
</div>

