@model GameShow.GameModel.ControllerPrompt
@{
    ViewBag.Title = "ControllerPrompt";
    Layout = "~/Views/Shared/_GameContent.cshtml";
}



<div class="text-center">
    <h2>@Model.Text</h2>
    @if (Model.PromptButtons != null)
    {
        foreach (var p in Model.PromptButtons)
         {
             <div style="margin-top: 10px; margin-bottom: 10px;">
                 <a href="javascript:promptRespond('@p.EventType', '@p.EventValue');" class="btn btn-lg btn-success" style="width: 100%; background-color: @p.Color;">@p.Text</a>
             </div>
         }
    }
</div>

