<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <title>GameShow.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <style type="text/css">
        .controllerBlink {
            background-color: red;
        }
    </style>
</head>
<body style="padding-top: 0px; margin-top: 0px;" id="pageBody">
<div class="container body-content">
    <div id="gameContentFrame">
        @RenderBody()
    </div>
</div>


    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
<script type="text/javascript">
    var controllerToken = $.cookie("controllerToken");

    var gameId = '@ViewBag.GameID';
    var gHub = $.connection.gameHub;
    var nickname = '@Request.Params["nick"]';
    $.cookie("devicenickname", '@Request.Params["nick"]', { expires: 365 });
    $.connection.hub.start().done(function() {
        console.log('SignalR connected');

        var interval = 5000;
        var heartbeat = function () {
            gHub.server.controllerHeartbeat(gameId, controllerToken, nickname);
            setTimeout(function () {
                heartbeat();
            }, interval);
        };
        heartbeat();
    });

    gHub.client.assignControllerToken = function(newToken) {
        console.log('New controller ID assigned: ' + newToken);
        controllerToken = newToken;
        $.cookie("controllerToken", newToken, { expires: 365 });
    };

    gHub.client.blink = function() {
        $('#pageBody').addClass('controllerBlink');
        setTimeout(function() {
            $('#pageBody').removeClass('controllerBlink');
        }, 500);
    };

    gHub.client.changeFrame = function(targetFrame) {
        console.log('Change target frame: ' + targetFrame);
        $.ajax({
            type: "GET",
            url: targetFrame,
            dataType: 'text'
        })
                .done(function (msg) {
                    $('#gameContentFrame').html(msg);
                }).fail(function () {
                    //alert("Error reloading page");
                $('#gameContentFrame').html('Error loading ' + targetFrame);
            });
    };

    function promptRespond(eventType, eventVal) {
        gHub.server.controllerPromptResponse(controllerToken, eventType, eventVal);
    };
</script>
</body>
</html>
